# Ignore all
*.*
#
# Except the following directories 
!ApertureMapModelTools
!AVERAGED-FRACTURES
!FULL-FRACTURES
!OUTFILES
!PVT
!SOURCE
!TEST-FRACTURES
#
# Except the following files
!*.py
!.gitignore
!APM_BULK_RUN.PY 
!APM_PROCESS_DATA_MAP.PY
!FRACTURE_INITIALIZATION.INP
!README.rst
SOURCE/#Untitled-1#
ApertureMapModelTools/OpenFoamExport/constant/polyMesh/blockMeshDict
