include pyproject.toml README.rst LICENSE.md pytest.ini
recursive-include src/apmapflow *
recursive-include bin *
recursive-include examples *
recursive-include misc *
recursive-include test *
global-exclude *.pyc *~ .DS_Store *__pycache__* *.pyo
